.hover {
    height: 100px;
    width: 100px;
    background-color: darkkhaki;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}