* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1FEC6;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;  
}

.box {
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background-color: #74A4BC;
    font-size: 8vmin;
    color: #AC2B1B
}

.Msg {
    height: 100vh;
    font-size: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hide {
    display: none;
}